@charset "UTF-8";

body {
    font-family: var(--fonte-prin);
    color: var(--preto);
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 2px;
    justify-content: space-evenly;
}

header img {
    width: 70px;
    margin: 20px;
    cursor: pointer;
}

header input#barra_pesquisa {
    border: 2.5px solid;
    border-radius: 5px;
    border-color: var(--preto);
    width: 55%;
    height: 36px;
    padding: 10px;
    color: #F1E81D;

    font-size: 16px;
}

header input#barra_pesquisa:hover {
    border-color: #F1E81D;
    transition: 10ms;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

header nav ul li {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

header ul li a {
    color: var(--branco);
}

header nav ul li a:hover {
    color: #F1E81D;
    transition: 10ms;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}

/* Main */

main {
    font-family: var(--fonte-prin);
    margin: 40px 20px 30px 20px;
}

div.livro-descr {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

div.livro-descr img.icone:hover{
    width: 28px;
}
div.livro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

div.livro img {
    position: relative;
    bottom: 50px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.342);
}

div.livro h1 {
    font-size: 30px;
    color: var(--preto);
}

div.livro-descr p {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.classif {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

div.classif div.ct {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: var(--marrom);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

div.classif div.ct:hover {
    background-color: rgba(0, 0, 0, 0.233);
}

div.pais {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 20px;
}

div.pais p {
    font-size: 20px;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

div.buttons button{
    border: 1px solid black;
    border-radius: 7px;
    padding: 7px;
    width: 15vw;
    font-family: var(--fonte-prin);
    font-weight: 400;
    font-size: 20px;
    color: var(--preto);
    background-color: var(--amarelo);
    cursor: pointer;
}

div.buttons button:hover{
    background-color: var(--preto);
    color: var(--amarelo);
}

.cor-livro {
    color: var(--marrom);
    font-size: 20px;
}

.fonte-secun {
    font-family: var(--fonte-secun);
    font-size: 20px;
    font-weight: 400;
}

/* Footer */

footer {
    font-family: var(--fonte-prin);
    margin: 70px 60px 1px 80px;
}

footer div#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

footer div#footer p {
    font-weight: bold;
    font-size: 20px;
}

footer div#footer p.destaque {
    color: #F1E81D;
}

footer div#footer div#redes_so {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

footer div#footer div#facebook p:hover {
    color: #3F3D56;
}

footer div#footer div#facebook,
div#twitter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

footer div#footer div#twitter p:hover {
    color: #3F3D56;
}

@media screen and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    /* Menu */
    .nav-list {
        position: fixed;
        top: 12vh;
        right: 0;
        width: 50%;
        height: 100vh;
        background: var(--marrom);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 20;
    }

    .nav-list a:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}