@media screen and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    /* Menu */
    .nav-list {
        position: fixed;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 80vh;
        background: #F1E81D;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 20;
    }

    .nav-list a:hover {
        color: #FFFFFF;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin: 20px;
    }

    main div.con1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 5px;
    }

    main div.con1 h1 {
        font-size: 7vw;
        margin-top: 20px;
    }

    main div#simbolos p {
        font-size: 14px;
    }

    main div#simbolos {
        gap: 40px;
    }

    main div#simbolos div#email {
        width: 17vw;
        height: 18vw;
    }

    main div#simbolos div#fav {
        width: 17vw;
        height: 18vw;
    }

    main div#simbolos div#mais {
        width: 17vw;
        height: 18vw;
    }

    main img {
        width: 70vw;
    }

}