@charset "UTF-8";

body{
    font-family: var(--fonte-prin);
    color: var(--preto);
}

/* Header */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 2px;
    justify-content: space-evenly;
}

header img{
    width: 70px;
    margin: 20px;
    cursor: pointer;
}

header input#barra_pesquisa{
    border: 2.5px solid;
    border-radius: 5px;
    border-color: var(--preto);
    width: 55%;
    height: 36px;
    padding: 10px;
    color: #F1E81D;
    font-size: 16px;
}

header input#barra_pesquisa:hover{
    border-color: #F1E81D;
    transition: 10ms;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

header nav ul li{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

header nav ul li a{
    color: var(--preto);
}

header nav ul li a:hover{
    color: #F1E81D;
    transition: 10ms;
}
header img#bars{
    display: none;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}

/* Main */

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

main div.generos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main p{
    font-size: 40px;
    cursor: pointer;  
    font-weight: bold;
}

main span.destaque{
    color: #F1E81D;
}

main form{
    background-color: var(--cinza);
    color: var(--branco);
    text-align: center;
    width: 30%;
    height: 40%;
    border-radius: 5px;
}

main form div.textfield{
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: center;
    margin: 15px 30px 0px 30px;
    padding: 10px;
    text-align: left;
    font-size: 19px;
}

main form div.textfield input{
    height: 50%;
    color: var(--preto);
    font-size: 18px;
    border: 2px;
    border-color: var(--preto);
    border-style: solid;
}

main form input#joinnow{
    padding: 6px 8px;
    background-color: var(--amarelo);
    border: 2px;
    border-color: var(--preto);
    border-style: solid;
    cursor: pointer;
}

main form button a{
    color: var(--preto);
    font-size: 14px;
}

main form button:hover{
    background-color: var(--branco);
    transition: 10ms;
}

/* Footer */

footer{
    position: relative;
    top: 15vh;
    font-family: var(--fonte-prin);
    margin: 70px 60px 1px 80px
}

footer div#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer div#footer p{
    font-weight: bold;
    font-size: 20px;
}

footer div#footer p.destaque{
    color: #F1E81D;
}

footer div#footer div#redes_so{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

footer div#footer div#facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

footer div#footer div#facebook p:hover{
    color: #3F3D56;
}

footer div#footer div#twitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

footer div#footer div#twitter p:hover{
    color: #3F3D56;
}